.row
  .large-9.columns
    %h2 #{current_user}'s Dashboard
    %p
    - @pingmonitors.each do |pingmonitor|
      %p
      =link_to pingmonitor.hostname, monitor_path(pingmonitor)
      %br
      =pingmonitor.description
      %p
      =pingmonitor.inspect
  .large-3.columns{ :style => "float:right"}
    %p
    =link_to "New Monitor", new_monitor_path, class: "button small"
