.row
  .large-9.columns
    %h4.subhead #{current_user}'s Dashboard
    %p
    - @pingmonitors.each do |pingmonitor|
      %p
      =link_to pingmonitor, monitor_path(pingmonitor)
      %br
      =pingmonitor.description

  .large-3.columns{ :style => "float:right"}
    %p
    =link_to "New Monitor", new_monitor_path, class: "button small"
