.row
  .large-9.columns
    %h4 dashboard
    %p
    - @monitors.each do |monitor|
      %p
      - if monitor.alerting?
        =link_to monitor.to_s, monitor_path(monitor)
        is
        %span.alert-text
          alerting
      - elsif monitor.initial_check?
        =link_to monitor.to_s, monitor_path(monitor)
        was just added and will be checked soon!
      - else
        =link_to monitor.to_s, monitor_path(monitor)
        is
        %span.all-clear
          nominal

      %br
      =monitor.description

  .large-3.columns{ :style => "float:right"}
    %p
    =link_to "New Monitor", new_monitor_path, class: "button small"
