.row
  .large-9.columns
    %h4.subheader #{current_user}'s dashboard
    %p
    - @monitors.each do |monitor|
      %p
      =link_to monitor.name, monitor_path(monitor)
      %br
      =monitor.description

  .large-3.columns{ :style => "float:right"}
    %p
    =link_to "New Monitor", new_monitor_path, class: "button small"
