.row
  .large-9.columns
    %h2.subheader YAMP : your minimalist monitoring program
    %p You have a busy life. You have a lot of email noise and a lot of spinning plates to keep an eye on. Our program only bothers you when there are catastrophic conditions.
    %p Go ahead and poke around. We'll be here to help you out when you need us.
