.row
  .large-9.columns
    %h4.subheader You Need Help?
    %p We are here to help.
    %p
    Do you like Twitter? We do too!
    %a {:href => 'http://www.twitter.com/allynfolksjr'}>Nikky
    and
    %a {:href => 'http://www.twitter.com/grrlcoder'}>Serene
    can be found there.
    %p We are also fans of Github. If you have suggestions or improvements, feel free to submit pull requests or comments there.