.row
  .large-9.columns
    %h2.subheader need help?
    %p We are here to help.
    %p
    Do you like Twitter? We do too!
    %a{:href => 'http://www.twitter.com/allynfolksjr'} Nikky
    and
    %a{:href => 'http://www.twitter.com/grrlcoder'} Serene
    are both there, and can answer your questions.
    %p
    We are also active on Github. And if you have suggestions or improvements, feel free to submit pull requests or comments
    %a{:href => 'https://github.com/SuperAwesomeSquad/Yet-Another-Monitoring-Program'} there.