.row
  .large-9.columns
    %h2.subheader YAMP License
    We love open source, and you should too. We offer our software under the GPL license. For brevity, we are using the same terms as the
    %a{:href => 'http://wordpress.org/about/license/'} WordPress license.
    %p Let us know if you have questions or want to contribute.
