.row
  .large-9.columns
    %h2.subheader YAMP License
    %p We love open source, and you should too. The <a href="https://github.com/SuperAwesomeSquad/Yet-Another-Monitoring-Program">source</a> of YAMP is licensed under the <a href="https://github.com/SuperAwesomeSquad/Yet-Another-Monitoring-Program/blob/master/LICENSE" target="_blank">BSD license</a>.
    %p Terms-of-use and privacy policy are forthcoming.

