.row
  .large-9.columns
    %h4 Welcome
    %p We simplify your life and de-clutter your inbox. Kick your feet up. Poke around the place a little bit.
  .large-3.columns
    %p
    =link_to "New Monitor", new_monitor_path, class: "button small"
    / %button.small New Monitor