.row
  .large-9.columns
    %h4.subheader #{current_user}'s Monitors

    = link_to "All Monitors", monitors_path
    |
    = link_to "New Monitor", new_monitor_path
    %p
    - @monitors.each do |monitor|
      %p
      =link_to monitor.name, monitor_path(monitor)
      %br
      =monitor.description

