.row
  .large-9.columns
    %h2 Monitors
    %h4.subheader
    = link_to "All Monitors", monitors_path
    |
    = link_to "New Monitor", new_monitor_path
    %p
    - @pingmonitors.each do |pingmonitor|
      %p
      =link_to pingmonitor.id, monitor_path(pingmonitor)
      %br
      =pingmonitor.description

