.row
  .large-9.columns
    %h4.subheader #{current_user}'s Monitors

    = link_to "All Monitors", monitors_path
    |
    = link_to "New Monitor", new_monitor_path
    %p
    - @pingmonitors.each do |pingmonitor|
      %p
      =link_to pingmonitor, monitor_path(pingmonitor)
      %br
      =pingmonitor.description

