.row
  .large-9.columns
    %h4 Monitors

    .fieldset
      = simple_form_for @new_monitor do |f|
        = f.input :name
        / = f.input :Notes,  as: :text
        %p
          = f.button :submit
          = link_to 'Cancel', :back


/ .row
/   .large-9.columns
/     %h2 Monitors
/         - form_for(@new_monitor) do |f|
/         = f.label :name
/         = f.text_field :name
/         = f.label :description
/         = f.text_field :description
/         = f.submit

/ =render :partial => "form"


